 :root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #F7F7F7;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: 'Open Sans', sans-serif;
}
*{
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root>*{
    max-width: 1440px;
    margin: 0 auto;
    animation: fadeIn 0.7s ease-in-out;
}

.img-animate{
  animation: fadeIn 0.7s ease-in;
}

@keyframes bubble {
  0% {
      transform:scale(1.03);
      opacity: 0.8;
  }

   50% {
    transform:scale(0.98);

  } 
  100%{
    transform:scale(1.0);
    opacity: 1;
  }
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}